* {
  font-family: Verdana;
  font-size: 13.5px;
}

body {
  background-color: #004080;
}

nav ul {
  margin-left: 300px;
}

nav li {
  display: inline;
  margin-right: 50px;
  color: #dedee3;
}

header {
  background-color: #cccccc;
  margin: 20px 10px 0px 10px;
}

header h1 {
  color: #580023;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

article {
  padding: 10px;
  margin-top:5px;
  width: 60%;
  display: inline-block;
}

article h1 {
  color: #cacad0;
}

article p {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #dedee3;
  box-shadow: 4px 4px #666684;
}

li {
line-height: 15px;
}

article ul {
  background-color: #dedee3;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 4px 4px #666684;
}

figure {
  text-align: center;
}

figurecaption {
  color: #cacad0;
}

footer {
  width: 60%;
  display: inline-block;
  margin-left: 10px;
}

footer h2 {
  color: #cacad0;
}

footer ol {
  background-color: #dedee3;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 4px 4px #666684;
}

aside {
  float: right;
  margin-right: 5px;
  margin-top: -157px;

}

aside img {
  border: solid;
  border-color: #666684;
  border-radius: 10px;

}

aside h3 {
  text-align: center;
  font-size: 14px;
  color: #cacad0;
}

aside ul {
  background-color: #dedee3;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 4px 4px #666684;
}
