div {
  background-color: #e0eeee;
  border-color: black;
  border: solid;
}

nav li {
  display: inline;
  margin-right: 50px;
  color: #666666;
  text-align: center;

}

header {
  background-color: #cccccc;
#id {

  background-color: #eae1ff;
}

}

header h1 {
  color: #580023;
  border: 30px 40px 0px 10px;
  text-align: center;


}

article
{
    padding: 10px;
    margin-top:5px;
    width: 70%;
    display: inline-block;
}

aside {
  float: right;
  margin-right: 5px;
  font-size: 14px;

}

aside h3 {
  text-align: center;
}
